# complicated setup to ignore all files in default_hudfiles except mainmenuoverride to fix users not running the batch file
# mainmenu will stop being tracked after this change (so I can keep the hud in my tf2 directory) with the command git update-index --skip-worktree <file>
# to undo the change do above with --no-skip-worktree

!default_hudfiles/
default_hudfiles/*
!default_hudfiles/resource/*
default_hudfiles/resource/*
!default_hudfiles/resource/ui/*
default_hudfiles/resource/ui/*
!default_hudfiles/resource/ui/mainmenuoverride.res
#following files cause tf2 to crash if they aren't present
!default_hudfiles/resource/ui/controlpointprogressbar.res
!default_hudfiles/resource/ui/charinfoarmorysubpanel.res

sound/
*.swp
